<div class="row">
  <ul class="list-unstyled col-sm-10">
    <book-info ng-repeat="book in readingList.books"></book-info>
  </ul>
  <aside class="col-sm-2">
    <h4>Sort By</h4>
    <ul class="list-unstyled">
      <li><span class="label label-primary" ng-click="readingList.sortByTitle()">TITLE</span></li>
      <li><span class="label label-primary" ng-click="readingList.sortByRating()">RATING</span></li>
    </ul>
  </aside>
  <aside class="col-sm-2">
    <h4>Filter</h4>
    <ul class="list-unstyled">
      <li><span class="label label-primary" ng-click="readingList.filterRead()">NOT FINISHED</span></li>
      <li><span class="label label-primary" ng-click="readingList.filterReviewed()">REVIEWED</span></li>
      <li><span class="label label-primary" ng-click="readingList.filterGoodReads()">GOOD READS</span></li>
    </ul>
  </aside>
</div>